{% extends "base/index.html" %}
{% load static %}

{% block title %} Primary | Settings {% endblock %}

{% block customCSS %}
<link href="{% static 'vendor/sb-admin/css/sb-admin-2.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div id="account">
    {% include 'account/pages/base/navbar.html'%}
    <b-container fluid>
      <b-row>
        <b-col class="w-100" style="background-color: #d3d3d3;" cols="2">
          {% include 'account/pages/base/sidebar.html'%}
        </b-col>
        <b-col cols="10">
          <b-row class="mt-5">

          </b-row>
        </b-col>
      </b-row>
    </b-container>

    {% include 'account/pages/base/footer.html'%}

  </div>
{% endblock %}

{% block customJS %}
  <script src="{% static 'vue/account/index.js' %}"></script>
  <script src="{% static 'vendor/sb-admin/js/sb-admin-2.js' %}"></script>
{% endblock %}
