{% extends "base.html" %}


{% block body %}
<h1>{{user}}</h1>
<h2>Cooperative: {{info.coop}}</h2>

<table class="table table-hover">
  <thead class="thead-dark">
      <td>Members</td>
  </thead>
  <tbody>
    {% for mem in members %}
    {% if mem.user != user %}
    <tr>
      <td>{{mem.user}}</td>

    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
<div class="row">
  {% if info.coop %}
  <div class="col-md-4">
      <p>You already have a coop</p>
  </div>
  <div class="col-md-4">
    <a class="btn btn-warning" href="quit">Quit</a>
  </div>
  {% else %}
  <div class="col-md-4">
    <a class="btn btn-success" href="createCoop">Create Coop</a>
  </div>
  <div class="col-md-4">
    <a class="btn btn-info" href="joincoop">Join Coop</a>
  </div>
  {% endif %}
  <div class="col-md-4">
    <a class="btn btn-danger" href="logout">Logout</a>
  </div>
</div>

{% endblock %}
