{% load static %}

<!-- Footer -->
<footer>
  <b-container>
    <b-row>
      <b-col md="4">
        <span class="copyright">Copyright &copy; Psycellium Inc. 2018</span>
      </b-col>
      <b-col md="4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </b-col>
      <b-col md="4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </b-col>
    </b-row>
  </b-container>
</footer>
