{% extends "base/index.html" %}
{% load static %}

{% block title %} Psycellium | Homepage {% endblock %}

{% block customCSS %}
  <link rel="stylesheet" href="{% static 'css/agency.css' %}" crossorigin="anonymous">
{% endblock %}

{% block body %}
  <div id="homepage">

    <b-navbar toggleable="md" type="dark" fixed="top" id="mainNav">
      <b-navbar-brand href="/">
        <img src="{% static 'img/logo/logo.png' %}" width="30" height="30" class="d-inline-block align-middle" alt="">
        Psycellium
      </b-navbar-brand>
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <b-navbar-nav class="text-uppercase" right>
            <b-nav-item class="js-scroll-trigger" href="#services">Services</b-nav-item>
            <b-nav-item class="js-scroll-trigger" href="#about">About</b-nav-item>
            <b-nav-item class="js-scroll-trigger" href="#team">Team</b-nav-item>
            <b-nav-item class="js-scroll-trigger" href="#contact">Contact</b-nav-item>
            <b-nav-item class="js-scroll-trigger" href="#login">Login</b-nav-item>
          </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">A Platform For the People By the People</div>
          <div class="intro-heading text-uppercase">Be part of the community!</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <b-container>
        <b-row>
          <b-col cols="12" class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">What we do to boost community growth.</h3>
          </b-col>
        </b-row>
        <b-row class="text-center">
          <b-col md="4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Funding</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </b-col>
          <b-col md="4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Investment</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </b-col>
          <b-col md="4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Loans</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <!-- About -->
    <section id="about">
      <b-container>
        <b-row>
          <b-col cols="12" class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Psycellium roadmap. The future begins here</h3>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static '/img/about/1.jpg'%}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2018</h4>
                    <h4 class="subheading">From Hackathon to Ideation</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static '/img/about/2.jpg'%}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2019</h4>
                    <h4 class="subheading">Psycellium is Born</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static '/img/about/3.jpg'%}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2020</h4>
                    <h4 class="subheading">Deployment</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static '/img/about/4.jpg'%}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2021 and Beyond</h4>
                    <h4 class="subheading">Future Development</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
            </ul>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <b-container>
        <b-row>
          <b-col cols="12" class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          <b-col>
        </b-row>
        <b-row>
          <b-col sm="12" lg="3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static '/img/team/1.jpg'%}" alt="">
              <h4>Kay Garland</h4>
              <p class="text-muted">Lead Designer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
          </b-col>
          <b-col sm="12" lg="3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static '/img/team/1.jpg'%}" alt="">
              <h4>Kay Garland</h4>
              <p class="text-muted">Lead Designer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
          </b-col>
          <b-col sm="12" lg="3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static '/img/team/1.jpg'%}" alt="">
              <h4>Kay Garland</h4>
              <p class="text-muted">Lead Designer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
          </b-col>
          <b-col sm="12" lg="3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static '/img/team/1.jpg'%}" alt="">
              <h4>Kay Garland</h4>
              <p class="text-muted">Lead Designer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col lg="8" class="mx-auto text-center">
            <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <!-- Contact -->
    <section id="contact">
      <b-container>
        <b-row>
          <b-col lg="12" class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Contact Psycellium directly</h3>
          </b-col>
        </b-row>
        <b-row>
          <b-col lg="12">
            <b-form id="contactForm">
              <b-row>
                <b-col md="6">
                  <b-form-group>
                    <b-form-input id="name" v-model="name" type="text" placeholder="Enter your Name:" required></b-form-input>
                    <p class="help-block text-danger"></p>
                  </b-form-group>
                  <b-form-group>
                    <b-form-input id="email" v-model="email" type="text" placeholder="Enter your Email:" required></b-form-input>
                    <p class="help-block text-danger"></p>
                  </b-form-group>
                  <b-form-group>
                    <b-form-input id="phone" v-model="phone" type="text" placeholder="Enter your Mobile Number:" required></b-form-input>
                    <p class="help-block text-danger"></p>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group>
                    <b-form-textarea id="message" v-model="message" type="text" placeholder="Your Message:" required></b-form-textarea>
                    <p class="help-block text-danger"></p>
                  </b-form-group>
                </b-col>
                <b-col lg="12" class="text-center">
                  <div id="success"></div>
                  <b-button id="sendMessageButton" class="text-uppercase" variant="primary" size="lg" type="submit" href=""> Send Message </b-button>
                </b-col>
              </b-row>
            </b-form>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <section id="login">
      <b-container class="register">
        <b-row>
          <b-col md="3" class="register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>Join the journey for a more sustainable future for everyone</p>
            <input type="submit" name="" value="Login"/><br/>
          </b-col>
          <b-col md="9" class="register-right">
            <form action="index.html" method="post">
              <b-row class="register-form">
                <b-col cols="6">
                  <b-form-group>
                     <b-form-input v-model="first_name" type="text" placeholder="First Name *" required></b-form-input>
                  </b-form-group>
                  <b-form-group>
                     <b-form-input v-model="last_name" type="text" placeholder="Last Name *" required></b-form-input>
                  </b-form-group>
                  <b-form-group>
                     <b-form-input v-model="email" type="text" placeholder="Your Email *" required></b-form-input>
                  </b-form-group>
                  <b-form-group>
                     <b-form-input v-model="phone" type="text" placeholder="Your Phone *" required></b-form-input>
                  </b-form-group>
                  <b-form-group>
                    <div class="maxl">
                        <label class="radio inline">
                            <input type="radio" name="gender" value="male" checked>
                            <span> Male </span>
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="gender" value="female">
                            <span>Female </span>
                        </label>
                    </div>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group>
                     <b-form-input v-model="username" type="text" placeholder="Your Username *" required></b-form-input>
                  </b-form-group>
                  <b-form-group>
                     <b-form-input v-model="password" type="text" placeholder="Password *" required></b-form-input>
                  </b-form-group>
                  <b-form-group>
                     <b-form-input v-model="password1" type="text" placeholder="Confirm Password *" required></b-form-input>
                  </b-form-group>

                  <b-button block variant="primary" href="">Register</b-button>
                </b-col>
              </b-row>
            </form>
          </b-col>
        <b-row>
      </b-container>
    </section>

    <!-- Footer -->
    <footer>
      <b-container>
        <b-row>
          <b-col md="4">
            <span class="copyright">Copyright &copy; Psycellium Inc. 2018</span>
          </b-col>
          <b-col md="4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </b-col>
          <b-col md="4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </b-col>
        </b-row>
      </b-container>
    </footer>

  </div>
{% endblock %}

{% block customJS %}
  <script src="{% static 'vue/homepage/index.js' %}"></script>
  <script src="{% static 'js/agency.min.js' %}"></script>
{% endblock %}
