{% extends "base.html" %}

{% load static %}


{% block customCSS %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<h1>List of Users</h1>
<table class="table table-striped">
  <thead>
    <td>Member</td>
    <td>Cooperative</td>
  </thead>
  <tbody>
    {% for profile in profile %}
    <tr>
      <td>{{profile.user}}</td>
      <td>
        {{ profile.coop }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-primary" href="login">Login</a>
<a class="btn btn-primary" href="register">Register</a>


{% endblock %}
