{% extends "base.html" %}

{% load static %}


{% block customCSS %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<h2>Welcome {{user}}</h2>
<h1>List of Users</h1>
<table border="1">
  <thead>
    <td>Member</td>
    <td>Cooperative</td>
  </thead>
  <tbody>
    {% for profile in profile %}
    <tr>
      <td>{{profile.user}}</td>
      <td>
        {{ profile.coop }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href='logout'>LOGOUT</a>



{% endblock %}
